name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Build And Go Test
        run: make docker-build

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./cover.out
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
          verbose: true