name: Publish Docker

on:
  push:
    branches: [ master, "*.*.*" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build and Push
        run: |
          if [ "${{ github.ref_name }}" == "master" ]; then
            make docker-build docker-push
          else
            IMG=apache/seata-controller:${{ github.ref_name }} make docker-build docker-push
          fi
